<div class="panel panel-primary">
  <div class="panel-heading"><i class="fa fa-dot-circle-o"></i> BUSINESS MANAGEMENT</div>
  <div class="panel-body">
  	<div class="row">
      <div class="col-md-4 pull-right">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control search" placeholder="SEARCH HERE" ng-model="searchTxt" ng-keyup="load({ search: searchTxt })">
        </div>
      </div>

      <div class="clearfix"></div>
   		<hr>

   		<div class="col-md-12">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th class="w30px">#</th>
							<th class="w180px">NAME</th>
							<th>DESCRIPTION</th>
							<th class="w70px"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="business in businesses">
							<td>{{ (paginator.page - 1) * paginator.limit + $index + 1 }}</td>
							<td class="uppercase">{{ business.name }}</td>
							<td class="uppercase">{{ business.description }}</td>
							<td class="text-center">
								<div class="btn-group btn-group-xs">
									<a href="#/business/view/{{ business.id }}" class="btn btn-success" title="VIEW"><i class="fa fa-eye"></i></a>
									<a href="#/business/edit/{{ business.id }}" class="btn btn-primary" title="EDIT"><i class="fa fa-edit"></i></a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
   		</div>
  	</div>

    <ul class="pagination pull-right">
        <li class="prevPage">
          <a href="javascript:void(0)">&laquo;</a>
        </li>
        <li class="pagination-page" ng-repeat="page in pages">
          <a href="javascript:void(0)" class="text-center" ng-click="load({ page: page.number, search: searchTxt })">{{ page.number }}</a>
        </li>
        <li class="nextPage">
          <a href="javascript:void(0)">&raquo;</a>
        </li>
    </ul>
    <div class="clearfix"></div>

  </div>
</div>