@import url(fonts/opensans/css.css);
@import url(fonts/homizio-nova/css.css);

body {
	font-family: 'Open Sans';
	/*background: linear-gradient(135deg, #987866 0%,#61524c 100%) fixed;*/
	background: url(../img/bg.jpg);
	background-size: 100%;
}
@-webkit-keyframes grain {
  0%, 100% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -moz-transform: translate(-5%, -10%);
    -ms-transform: translate(-5%, -10%);
    -webkit-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }
  20% {
    -moz-transform: translate(-15%, 5%);
    -ms-transform: translate(-15%, 5%);
    -webkit-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%);
  }
  30% {
    -moz-transform: translate(7%, -25%);
    -ms-transform: translate(7%, -25%);
    -webkit-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
  }
  40% {
    -moz-transform: translate(-5%, 25%);
    -ms-transform: translate(-5%, 25%);
    -webkit-transform: translate(-5%, 25%);
    transform: translate(-5%, 25%);
  }
  50% {
    -moz-transform: translate(-15%, 10%);
    -ms-transform: translate(-15%, 10%);
    -webkit-transform: translate(-15%, 10%);
    transform: translate(-15%, 10%);
  }
  60% {
    -moz-transform: translate(15%, 0%);
    -ms-transform: translate(15%, 0%);
    -webkit-transform: translate(15%, 0%);
    transform: translate(15%, 0%);
  }
  70% {
    -moz-transform: translate(0%, 15%);
    -ms-transform: translate(0%, 15%);
    -webkit-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }
  80% {
    -moz-transform: translate(3%, 35%);
    -ms-transform: translate(3%, 35%);
    -webkit-transform: translate(3%, 35%);
    transform: translate(3%, 35%);
  }
  90% {
    -moz-transform: translate(-10%, 10%);
    -ms-transform: translate(-10%, 10%);
    -webkit-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
}
blink {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
    opacity: 0.35;
    -webkit-backface-visibility: hidden;
}

blink:after {
    -webkit-animation: grain 5s steps(10) infinite;
    background: url(../img/noise.png);
    content: "";
    display: block;
    height: 300%;
    left: -100%;
    position: absolute;
    top: -100%;
    width: 300%;
    z-index: 1;
}
.svg-icon {
    display:inline-block;
    width:15px;
    height:15px;
    box-sizing: border-box;
}
.svg-icon svg {
    width:100%;
    height:100%;
    fill: #fff;
}

.btn-icon {
	width: 30px;
	height: 30px;
}

#login {
	padding: 20px;
	background: rgba(0,0,0,0.15);
}
#login h1 {
	font-size: 100px;
	font-weight: 100;
	margin: 0px;
	text-align: center;
	color: #FFF;
}

#login header p {
	font-size: 14px;
	text-shadow: rgba(255, 255, 255, 0.4) 0px 0px 3px;
	text-align: center;
	color: #FFF;
	letter-spacing: 1.5px;
	font-family: 'Homizio Nova Light';
}

#box-login {
	width: 500px;
	/*position: fixed;*/
	left: 50%;
	margin-left: -250px;
	margin-top: 60px;
	color: #fff;
}

.login-title {
	font-weight: 100;
	font-size: 24px;
	margin-bottom: 20px;
	color: #fff;
}

.btn-min {
	min-width: 150px;
}

.input-form {
	height: 100%;
	padding: 15px 15px;	
}

.footer {
	color: #FFF;
	font-size:12px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	padding: 8px;
	background: rgba(0,0,0,0.15);
}

.copyright, .poweredby {
	text-align: center;
}

.poweredby > a {
	color: #77C0FF;
}
