<div class="panel panel-primary">
  <div class="panel-heading"><i class="fa fa-dot-circle-o"></i> EDIT GUEST </div>
  <div class="panel-body">
    <form id="form">
      <div class="row">
         
   
      </div>

    <div class="clearfix"></div>
    <hr>

    <div class="row">
      <div class="col-md-3 pull-right">
        <button class="btn btn-primary btn-sm btn-block" ng-click="update()">SAVE</button>
      </div>
    </div>
  </div>
</div>

