<!--add transaction sub modal-->
<div class="modal fade" id="edit-transaction-item-modal">
<div class="modal-dialog modal-vertical-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">EDIT ITEM</h4>
    </div>
    <div class="modal-body">
      <div class="col-md-6">
        <div class="form-group">
          <label>PARTICULARS</label>
          <input type="text" class="form-control input-sm" ng-model="data.TransactionSub.particulars">
        </div>
      </div>
      
      <!--<input type="hidden" ng-model="data.TransactionSub.id"/>-->
      
      <div class="col-md-6">
        <div class="form-group">
          <label>AMOUNT</label>
          <input type="text" class="form-control input-sm float-value" ng-model="data.TransactionSub.amount">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="btn-group btn-group-sm pull-right btn-min">
        <button type="button" class="btn btn-danger btn-sm btn-min" data-dismiss="modal"><i class="fa fa-close"></i> CLOSE</button>
        <button type="button" class="btn btn-primary btn-sm btn-min" ng-click="updateItem(data.TransactionSub)"><i class="fa fa-save"></i> UPDATE ITEM</button>
      </div> 
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->